.gallery__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.gallery__header {
  text-align: center;
}

.gallery__card {
  padding: .4rem 0;

  img {
    height: 100%;
    width: 210px;
    object-fit: contain;
  }
}

